#block-block-1{
  position: relative;
  text-align: center;
  height: 275px;
  overflow: hidden;
  img{
    width: 100%;
  }
  #tagline{
    font-size: 3em;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    line-height: 275px;
  }
}
